header
{
    background-color: #579c87;
    background-position: top;
    width: 100%;
    height: 130px;
    border-bottom: solid 2px #a1c181;
    display: flex;
    justify-content: center;
}

.icon-logo_omf-6
{
    text-align: center;
    font-size: 60px;
    background: -webkit-linear-gradient(15deg, #dd9ea2, #efe9ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1
{
    color: #fdcb46;
    font-size: 50px;
    font-family: 'Arial Bold'; 
    margin: auto;   
}

a
{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer
{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #579c87;
    border-top: solid 2px #a1c181;
    bottom: 0;
    left: 0;
}

.pdp
{
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #fdcb46;
    margin-top: 5px;
}

.pdp:hover
{
    animation: wiggle 100ms cubic-bezier(.4,.1,.6,.9);
    animation-iteration-count: 2;
}

@keyframes wiggle
{
    25%
    {
        transform: translateX(1%);
    }

    75%
    {
        transform: translateX(-1%);
    }
}

.icone1
{
    font-size: 120px;
    padding-top: 80px;
    background: -webkit-linear-gradient(45deg, #f15861, #f78f6a, #fcb977);
    -webkit-background-clip: text; /*limite les couleurs de BG au texte*/
    -webkit-text-fill-color: transparent; /*rend le texte transparent de façon à voir le dégradé du BG limité au texte*/
}

.icone2
{
    font-size: 65px;
    background: -webkit-linear-gradient(45deg, #f15861, #f78f6a, #fcb977);
    -webkit-background-clip: text; /*limite les couleurs de BG au texte*/
    -webkit-text-fill-color: transparent; /*rend le texte transparent de façon à voir le dégradé du BG limité au texte*/
}

.restaurant
{
    text-align: center;
}

.restaurant2
{
    color: #3c1218;
    font-family: 'Allura';
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;  
    padding-left: 20px;
    font-weight: bold;
}

h2
{
    color: #3c1218;
    font-family: 'Allura';
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 90px;  
}



span
{
    font-family: 'journal';
    font-size: 22px;
    color: #3c1218;
    line-height: 25px;
}

h3
{
    font-family: 'Action Man';
    font-size: 45px;
    text-align: center;
    color: #3c1218;
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.platprix
{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.conclu
{
    padding-bottom: 60px;
    padding-top: 80px;
    color: #3c1218;
    font-family: 'Allura';
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bloc_menu
{
    max-width: 1190px;
    margin: 0 auto;
    background-color: #fcdfdb;
}

img
{
    width: 0;
}


@font-face
{
    font-family: 'Arial Bold';
    src: url('arialbd.ttf') format('truetype');
}
@font-face
{
    font-family: 'Allura';
    src: url('Allura-Regular.otf') format('opentype');
}
@font-face
{
    font-family: 'Action Man';
    src: url('Action_Man.ttf') format('truetype');
}
@font-face
{
    font-family: 'journal';
    src: url('journal.ttf') format('truetype');
}

/*smartphone*/
@media (min-width: 576px) 
{
    header
    {
        height: 140px;
    }
    h1
    {
        font-size: 55px;
    }
    span
    {
        font-size: 25px;
    }
}

/*tablette*/
@media (min-width: 768px) 
{
  .pdp
  {
    font-size: 40px;
  }
  h1
  {
      font-size: 95px;
  }
  .platprix
    {
        padding: 10px 10px;
    }
    span
    {
        font-size: 35px;
    }
    footer
    {
        height: 60px;
    }
    .conclu
    {
        padding-bottom: 160px;
    }
    header
    {
        height: 220px;
    }
    .icon-logo_omf-6
    {
        font-size: 100px;
    }
}

/*grand écran*/
@media (min-width: 992px) 
{
    .pdp
    {
        font-size: 60px;
    }
    h1
    {
        font-size: 103px;
    }
    .platprix
    {
        padding: 10px 120px;
    }
    footer
    {
        height: 100px;
    }
    .conclu
    {
        padding-bottom: 200px;
    }
    header
    {
        height: 260px;
    }
    .icon-logo_omf-6
    {
        font-size: 130px;
    }
    .left
    {
        margin-left: 35px;
        margin-top: 25px;
        width: 220px;
    }
    .right
    {
        margin-right: 35px;
        margin-top: 25px;
        width: 250px;
    }
}

/* Très grand écran */
@media (min-width: 1200px) 
{
    header
    {
        height: 300px;
    }
    .icon-logo_omf-6
    {
        font-size: 160px;
    }
    .left
    {
        margin-left: 95px;
        margin-top: 25px;
    }
    .right
    {
        margin-right: 95px;
        margin-top: 25px;
    }
}