body
{
    max-width: 100%;
}

header
{
    background-color: #579c87;
    background-position: top;
    width: 100%;
    height: 120px;
    border-bottom: solid 2px #a1c181;
    display: flex;
    justify-content: center;
}

img
{
    margin: 0 auto;
    width: 80px;
    height: auto;
}

section
{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
}

h1
{
    color: #fdcb46;
    font-size: 50px;
    font-family: 'Arial Bold'; 
    margin: auto;   
}

.menu
{
    height: 500px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    box-shadow: 0px 0px 15px lightgrey;
}

i
{
    font-size: 75px;
    background: -webkit-linear-gradient(45deg, #f15861, #f78f6a);
    -webkit-background-clip: text; /*limite les couleurs de BG au texte*/
    -webkit-text-fill-color: transparent; /*rend le texte transparent de façon à voir le dégradé du BG limité au texte*/
}

a
{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rest1
{
    color: #3c1218;
    font-family: 'Allura';
    font-size: 40px;
}

.menu1
{
    color: #3c1218;
    font-family: 'Action Man';
    font-size: 65px;
}

.rest2
{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Cookie';
    background: -webkit-linear-gradient(35deg, #c67412, #a56799, #6e4ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu2
{
    color: #c77412;
    font-family: 'Georgia';
    font-size: 55px;
}

.rest3
{
    font-family: 'Aguafina';
    font-size: 50px;
    background: -webkit-linear-gradient(5deg, #0228dd, #0670f3, #229df9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu3
{
    color: #0887fb;
    font-family: 'Marguerite';
    font-size: 55px;
}

.rest4
{
    font-family: 'Qwigley';
    font-weight: bold;
    font-size: 70px;
    background: -webkit-linear-gradient(5deg, #3d9339, #bfff7e); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.menu4
{
    color: #3d9339;
    font-family: 'Marguerite';
    font-size: 55px;
}

.fond1
{
    background-color: #fcdfdb;
}

.fond2
{
    background-color: #fff5fe ;
}

.fond3
{
    background-color: #f9f9f9 ;
}

.fond4
{
    background-color: #fdfffd ;
}

.next
{
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    background-color: #579c87;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
 
}

span
{
    font-family: Arial;
    font-size: 30px;
    color: #fdcb46;
    padding-top: 10px;
}

.suspens
{
    animation: points 700ms backwards infinite ease-in-out alternate
}

.pt1
{
    animation-delay: 200ms;
}

.pt2
{
    animation-delay: 400ms;
}

.pt3
{
    animation-delay: 600ms;
}

@keyframes points
{
    0%
    {
        transform: translateY(0)
    }
    100%
    {
        transform: translateY(-10px)
    }
}

footer
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #579c87;
    border-top: solid 2px #a1c181;
    
}

.pdp
{
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #fdcb46;
    margin-top: 10px;
}

.pdp:hover
{
    animation: wiggle 200ms cubic-bezier(.4,.1,.6,.9);
    animation-iteration-count: 2;
}

@keyframes wiggle
{
    25%
    {
        transform: translateX(2%);
    }

    75%
    {
        transform: translateX(-2%);
    }
}
    
@font-face
{
    font-family: 'Arial Bold';
    src: url('arialbd.ttf') format('truetype');
}
@font-face
{
    font-family: 'Allura';
    src: url('Allura-Regular.otf') format('opentype');
}
@font-face
{
    font-family: 'Action Man';
    src: url('Action_Man.ttf') format('truetype');
}
@font-face
{
    font-family: 'Cookie';
    src: url('Cookie-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Georgia';
    src: url('georgia.ttf') format('truetype');
}
@font-face
{
    font-family: 'Aguafina';
    src: url('AguafinaScript-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Marguerite';
    src: url('Marguerite.ttf') format('truetype');
}
@font-face
{
    font-family: 'Qwigley';
    src: url('Qwigley-Regular.ttf') format('truetype');
}

/*smartphone*/
@media (min-width: 576px) 
{
    .pdp
    {
        font-size: 30px;
    }
    header
    {
        height: 100px;
    }
    h1
    {
        font: 55px 'Arial Bold';
    }
    .next
    {
        width: 400px;
        height: 60px;
    }
    span
    {
        font-size: 35px;
    }
    footer
    {
        height: 70px;
    }
    img
    {
        width: 100px;
        height: auto;
    }
}

/*tablette*/
@media (min-width: 768px) 
{
    section
    {
        flex-direction: row;
    }
    .pdp
    {
        font-size: 40px;
    }
    header
    {
        height: 220px;
    }
  .menu
    {
        height: 760px;
        width: 540px;
    }
    h1
    {
      font: 95px 'Arial Bold';
    }
    .next
    {
        width: 400px;
        height: 60px;
        margin-bottom: 120px;
    }
    span
    {
        font-size: 35px;
    }
    footer
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
    img
    {
        width: 150px;
        height: auto;
    }
}

/*grand écran*/
@media (min-width: 992px) 
{
    section
    {
        flex-direction: row;
    }
    .pdp
    {
        font-size: 60px;
    }
    header
    {
        height: 260px;
    }
    .menu
    {
        height: 760px;
        width: 540px;
    }
    h1
    {
        font: 103px 'Arial Bold';
    }
    .next
    {
        width: 550px;
        height: 100px;
    }
    span
    {
        font-size: 60px;
    }
    footer
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
    img
    {
        width: 200px;
        height: auto;
    }
}

/* Très grand écran */
@media (min-width: 1200px) 
{
    section
    {
        flex-direction: row;
    }
    .pdp
    {
        font-size: 60px;
    }
    header
    {
        height: 300px;
    }
    .menu
    {
        height: 760px;
        width: 540px;
    }
    h1
    {
        font: 103px 'Arial Bold';
    }
    .next
    {
        width: 550px;
        height: 100px;
    }
    span
    {
        font-size: 60px;
    }
    footer
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
    img
    {
        width: 240px;
        height: auto;
    }
}