body
{
    max-width: 100%;
}

header
{
    background-color: #579c87;
    background-position: top;
    height: 200px;
    border-bottom: solid 2px #a1c181;
    display: flex;
    justify-content: center;
}

section
{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

h1
{
    color: #fdcb46;
    font: 103px 'Arial Bold'; 
    margin: auto;   
}

.menu
{
    height: 760px;
    width: 540px;
    text-align: center;
    margin-top: 100px;
    box-shadow: 0px 0px 15px lightgrey;
}

i
{
    font-size: 75px;
    background: -webkit-linear-gradient(45deg, #f15861, #f78f6a);
    -webkit-background-clip: text; /*limite les couleurs de BG au texte*/
    -webkit-text-fill-color: transparent; /*rend le texte transparent de façon à voir le dégradé du BG limité au texte*/
}

a
{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rest1
{
    color: #3c1218;
    font-family: 'Allura';
    font-size: 50px;
}

.menu1
{
    color: #3c1218;
    font-family: 'Action Man';
    font-size: 50px;
}

.rest2
{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Cookie';
    background: -webkit-linear-gradient(5deg, #d8852e, #905bfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu2
{
    color: #c77412;
    font-family: 'Georgia';
    font-size: 55px;
}

.rest3
{
    font-family: 'Aguafina';
    font-weight: bold;
    font-size: 50px;
    background: -webkit-linear-gradient(5deg, #0431df, #0887fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu3
{
    color: #0887fb;
    font-family: 'Marguerite';
    font-size: 55px;
}

.rest4
{
    font-family: 'Qwigley';
    font-weight: bold;
    font-size: 70px;
    background: -webkit-linear-gradient(5deg, #3d9339, #bfff7e); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.menu4
{
    color: #3d9339;
    font-family: 'Marguerite';
    font-size: 55px;
}

.fond1
{
    background-color: #fcdfdb;
}

.fond1:hover
{
    animation: opacity 900ms ease-in-out forwards;
}

.zoom1:hover span
{
    animation: textanim 500ms ease-in-out forwards;
}

.fond2
{
    background-color: #fff5fe ;
}

.fond2:hover
{
    animation: opacity 900ms ease-in-out forwards;
}

.zoom2:hover span
{
    animation: textanim 500ms ease-in-out forwards;
}

.fond3
{
    background-color: #f9f9f9 ;
}

.fond3:hover
{
    animation: opacity 900ms ease-in-out forwards;
}

.zoom3:hover span
{
    animation: textanim 500ms ease-in-out forwards;
}

.fond4
{
    background-color: #fdfffd ; 
}

.fond4:hover
{
    animation: opacity 900ms ease-in-out forwards;
}

.zoom4:hover span
{
    animation: textanim 500ms ease-in-out forwards;
}

.next
{
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 35%;
    width: 550px;
    height: 100px;
    border-radius: 20px;
    background-color: #579c87;
    margin-bottom: 150px;
    text-align: center;
}

span
{
    font-family: Arial;
    font-size: 60px;
    color: #fdcb46;
    padding-top: 10px;
}

.suspens
{
    animation: points 700ms backwards infinite ease-in-out alternate;
}

.pt1
{
    animation-delay: 200ms;
}

.pt2
{
    animation-delay: 400ms;
}

.pt3
{
    animation-delay: 600ms;
}

@keyframes opacity 
{
    from 
    {
      opacity: 1;
    }
    to 
    {
      opacity: 0.5;
    }
}

@keyframes textanim 
{
    from 
    {
      font-size: 280%;
    }
    50% 
    {
      font-size: 300%;
    }
    to 
    {
      font-size: 320%;
    }
}

@keyframes points
{
    0%
    {
        transform: translateY(0)
    }
    100%
    {
        transform: translateY(-10px)
    }
}

footer
{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100px;
    background-color: #579c87;
    border-top: solid 2px #a1c181;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    bottom: 0;
}

.pdp
{
    text-align: center;
    font-family: Arial;
    font-size: 60px;
    color: #fdcb46;
    margin-top: 10px;
}

.pdp:hover
{
    animation: wiggle 200ms cubic-bezier(.4,.1,.6,.9);
    animation-iteration-count: 2;
}

@keyframes wiggle
{
    25%
    {
        transform: translateX(2%);
    }

    75%
    {
        transform: translateX(-2%);
    }
}
    
@font-face
{
    font-family: 'Arial Bold';
    src: url('arialbd.ttf') format('truetype');
}
@font-face
{
    font-family: 'Allura';
    src: url('Allura-Regular.otf') format('opentype');
}
@font-face
{
    font-family: 'Action Man';
    src: url('Action_Man.ttf') format('truetype');
}
@font-face
{
    font-family: 'Cookie';
    src: url('Cookie-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Georgia';
    src: url('georgia.ttf') format('truetype');
}
@font-face
{
    font-family: 'Aguafina';
    src: url('AguafinaScript-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Marguerite';
    src: url('Marguerite.ttf') format('truetype');
}
@font-face
{
    font-family: 'Qwigley';
    src: url('Qwigley-Regular.ttf') format('truetype');
}