/*transition des menus de la page accueil : zoom + opacité réduite*/
.fond:hover
{
    transition: opacity 0.9s ease;
}

.zoom span {
    transition: all 0.9s ease;
}

.zoom:hover span
{
    transform: scale(1.1);
}

.zoom:hover span.menu1
{
    padding-top: 20px;
}

.menu:hover, .menu:focus {
    opacity: 0.5;
}

/*animation mentions légales et contact au survol*/
@keyframes wiggle
{
    25%
    {
        transform: translateX(1%);
    }

    75%
    {
        transform: translateX(-1%);
    }
}

.pdp:hover
{
    animation: wiggle 100ms cubic-bezier(.4,.1,.6,.9);
    animation-iteration-count: 2;
}

/*animation point de suspension de la <section class="next"> prochainement*/ 
@keyframes points
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.suspens
{
    animation: points 700ms backwards infinite ease-in-out alternate;
    transform-origin: left;
    transform: opacity(0);
}

.pt1
{
    animation-delay: 100ms;
}

.pt2
{
    animation-delay: 300ms;
}

.pt3
{
    animation-delay: 500ms;
}

/*animation entrée/plat/dessert, le titre de l'article <h3> se souligne au survol*/
@keyframes underline
{
    0%
    {
        transform: scaleX(0)
    }
    25%
    {
        transform: scaleX(.25)
    }
    50%
    {
        transform: scaleX(.5)
    }
    75%
    {
        transform: scaleX(.75)
    }
    100%
    {
        transform: scaleX(1)
    }
}

@media (min-width: 992px) 
{.entrée
    {
        position: relative;
    }
    .entrée:hover .underline1
    {
        content:"";
        position: absolute;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left; 
        animation: underline 1000ms 150ms linear forwards;
    }
    .plat
    {
        position: relative;
    }
    .plat:hover .underline2
    {
        content:"";
        position: absolute;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left; 
        animation: underline 1000ms 150ms linear forwards;
    }
    .dessert
    {
        position: relative;
    }
    .dessert:hover .underline3
    {
        content:"";
        position: absolute;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left; 
        animation: underline 1000ms 150ms linear forwards;
    }
}

